@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
*{
	margin:0;
	padding:0;
}
body{
	
    background-image:url('./images/local-trains.png');
   background-size:cover;
    text-align:centre;
    font-size: 'Montserrat';
    background-repeat: no-repeat;
}
.fo{
	font-size:22px;
	display:block;
	text-align:left;
	width:390px;
	height:550px;
	background:rgba(176, 196, 222, 1);
    position:relative;
	background-size:200px 100px;
    margin-left:50px;
    
    
}
form{
	
	
    font-weight: bold;
}
.innerfo{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
input[type=text] {
  width: 100%;
}
input[type=password] {
  width: 100%;
}input[type=email] {
  width: 100%;
}
.head{
    text-align: center;
    font-weight: bold;
    line-height:1cm;
}
.sub{
	position:relative;
}
input[type=submit] {
  position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.gender{
	font-size:18px;
}
#search{
	width:80px;
	height:25px;
	font-size:18px;
	margin-left:00px;
}	
