
body{
    background-image:url('./images/third2.jpg');
     background-repeat: no-repeat;
    color: white;
    font-size:60px;
    background-size:cover;
}
.ht{
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}


.for{
	font-size:20px;
	display:block;
	text-align:left;
	width:390px;
	height:620px;
	background:rgba( 105, 105, 105, 1);
    position:relative;
    margin-left:570px;
}
.tex{
	margin-left:60px;
}
#search{
	width:80px;
	height:25px;
	font-size:18px;
	margin-left:80px;
}	